{% extends 'ImmosquareEstateBundle::layout.html.twig' %}

{% block content %}
    <div id="sr_searchbar">
        Immosquare.ch | Ville: <input type="text" />
    </div>

    <div id="sr_sidebar">
        Louer | Acheter <br/><br/>
    </div>

    <div id="sr_list">
        Your search results are:
        
    </div>
{% endblock %}